{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
<script defer src="{% static 'js/show-detail.js' %}"></script>
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Add New Episode</h1>
  <img src="{% static 'images/remote-control.png' %}" alt="A remote control" />
  <img src="{% static 'images/pastel-tv.png' %}" alt="A TV" />
  <img src="{% static 'images/video-playlist.png' %}" alt="A stack of video icons" />
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Add New Episode! 🎞️✨</button>
</form>

{% endblock %}