{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if show %}
    <h1>Edit {{ show.name }}</h1>
  {% else %}
    <h1>Add a Show</h1>
  {% endif %}
  <img 
    src="{% static 'images/retro-tv-favi.png' %}"
    alt="Temp My TV Collection Logo"
  >
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  {% if show %}
    <button type="submit" class="btn submit">Update Show! 🎞️✨</button>
  {% else %}
    <button type="submit" class="btn submit">Add New Show! 🎞️✨</button>
  {% endif %}
</form>

{% endblock %}