{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/retro-tv-favi.png' %}"
  >
  <title>My TV Collection</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <div style="background-image: url({% static 'images/tv-snow.jpg' %})">
    <header>
      <div class="header-logo-container">
        <a href="{% url 'home' %}">
          <img 
            src="{% static 'images/retro-tv-favi.png' %}"
            alt="Temp My TV Collection Logo"
          >
        </a>
        <h1>My TV Collection</h1>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'show-index' %}">All Shows 🍿</a></li>
          <li><a href="{% url 'show-create' %}">Add a Show 🎞️</a></li>
          <li><a href="{% url 'about' %}">About 📺</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </div>
</body>
</html>