{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/retro-tv-favi.png' %}"
  >
  <title>My TV Collection</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <div style="background-image: url({% static 'images/tv-snow.jpg' %})" class="body-container">
    <header>
      <a href="{% url 'home' %}">
        <div class="header-logo-container">
          <img 
            src="{% static 'images/retro-tv-favi.png' %}"
            alt="Small retro television"
          >
          <h1>My TV Collection</h1>
        </div>
      </a>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'show-index' %}">All Shows 🍿</a></li>
            <li><a href="{% url 'show-create' %}">Add a Show 🎞️</a></li>
            <li><a href="{% url 'about' %}">About 📺</a></li>
            <li><a href="{% url 'logout' %}">Log out 👋</a></li>
          {% else %}
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'about' %}">About 📺</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </div>
</body>
</html>