{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Sign Up</h1>
  <img src="{% static 'images/remote-control.png' %}" alt="A remote control" />
  <img src="{% static 'images/pastel-tv.png' %}" alt="A TV" />
  <img src="{% static 'images/popcorn.png' %}" alt="A bucket of popcorn" />
  <img src="{% static 'images/video-playlist.png' %}" alt="A stack of video icons" />
  <img src="{% static 'images/tardis.png' %}" alt="A small TARDIS" />
</div>
{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}