.show-episodes-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--card-bg-color);
  width: 75%;
  height: 75%;
  margin: 30px 15px 30px 15px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-border-radius);
}

.show-img {
  width: 75%;
  max-width: 350px;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.show-details {
  width: 98%;
}

.show-actions {
  margin-top: 20px;
}

.episodes-container {
  margin: 30px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subsection-content {
  margin: 0 8px;
}

.show-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
  text-shadow: #e9e8ea 0 0 15px;
}

.show-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
  text-shadow: #e9e8ea 0 0 10px;
}

.show-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
  text-shadow: #e9e8ea 0 0 10px;
}

.show-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.episodes-container > section {
  width: 100%;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  padding: 15px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--card-bg-color);
}

.subsection-title img {
  height: 42px;
  margin-left: 8px;
}

.subsection-title img:first-of-type {
  margin-left: 16px;
}

.episodes h2 {
  font-size: 3.2rem;
  margin: 0;
}

.episodes h3 {
  font-size: var(--font-xl);
  margin: 10px 0;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
  font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
  margin-left: 5px;
  padding: 3px;
}

.episodes table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px;
}

.episodes td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.episodes th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  border-bottom: rgb(97, 37, 180) solid 2px;
}

.episodes tr:nth-child(even) {
  background-color: #f3f3fd;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .show-container {
    padding: 15px;
    flex-direction: row;
    align-items: center;
    /* justify-content: start; */
  }

  .show-img {
    width: 65%;
    max-width: 250px;
    margin-right: 25px;
  }

  .episodes-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 75%;

  }

  /* .episodes-container > section {
    width: 75%;
  } */
}