{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/shows/show-detail.css' %}"
/>
<script defer src="{% static 'js/show-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="show-container">
  <div class="show-img">
    <img 
      src="{% static 'images/astro-tv.svg' %}" 
      alt="An astronaut coming out of a TV"
    >
  </div>
  <div class="show-details">
    <h1>{{ show.name }}</h1>
    <h2>{{ show.release_year }}</h2>
    <h2>{{ show.streamer }}</h2>
    <p>{{ show.description }}</p>
    <div class="show-actions">
      <a href="{% url 'show-update' show.id %}" class="btn warn">Edit</a>
      <a href="{% url 'show-delete' show.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="episodes-container">
  <section class="episodes">
    <div class="subsection-title">
      <h2>Episodes</h2>
      <img 
        src="{% static 'images/retro-tv-favi.png' %}"
        alt="Temp My TV Collection Logo"
      >
    </div>
    <h3>Add an Episode 📼</h3>
    <form 
      action="{% url 'add-episode' show.id %}"
      method="post"
      class="subsection-content"
      autocomplete="off"
    >
      {% csrf_token %}
      {{ episode_form.as_p }}
      <button type="submit" class="btn submit">Add Episode</button>
    </form>
    <h3>Watched Episodes</h3>
    <table>
      <thead>
        <tr><th>Watch Date</th><th>Episode</th></tr>
      </thead>
      <tbody>
        {% for episode in show.episode_set.all %}
          <tr>
            <td>{{ episode.date }}</td>
            <td>S{{ episode.season }}.E{{ episode.episode_num }} - "{{ episode.name }}"</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}
