{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/shows/show-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Show List</h1>
  <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" />
</section>

<section class="card-container">
  {% for show in shows %}
    <div class="card">
      <a href="{% url 'show-detail' show.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if show.photo.url %}
              <img 
                src="{{ show.photo.url }}" 
                alt="A photo from {{ show.name }}"
                class="usr-img"
              >
            {% else %}
              <img 
                src="{% static 'images/astro-tv.svg' %}" 
                alt="An astronaut coming out of a TV"
              >
            {% endif %}
          </div>
          <h2 class="card-title">{{ show.name }}</h2>
          <p>{{ show.release_year }}</p>
          <p>{{ show.streamer }}</p>
          <p>{{ show.description }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}