{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/shows/show-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Show List</h1>
  <img src="{% static 'images/remote-control.png' %}" alt="A remote control" />
  <img src="{% static 'images/pastel-tv.png' %}" alt="A TV" />
  <img src="{% static 'images/popcorn.png' %}" alt="A bucket of popcorn" />
  <img src="{% static 'images/video-playlist.png' %}" alt="A stack of video icons" />
  <img src="{% static 'images/tardis.png' %}" alt="A small TARDIS" />
</section>

<section class="card-container">
  {% for show in shows %}
    <div class="card">
      <a href="{% url 'show-detail' show.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if show.photo.url %}
              <img 
                src="{{ show.photo.url }}" 
                alt="A photo from {{ show.name }}"
                class="usr-img"
              >
            {% else %}
              <img 
                src="{% static 'images/astro-tv.svg' %}" 
                alt="An astronaut coming out of a TV"
              >
            {% endif %}
          </div>
          <h2 class="card-title">{{ show.name }}</h2>
          <h3>{{ show.release_year }} - {{ show.streamer }}</h3>
          <p>{{ show.description }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}